<div class="row">
  home page handlebars
</div>
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>
      {{!-- <span for="img" aria-label="money">💲</span> --}}
      <a href="/post/{{post.id}}/comment">{{post.title}}</a>
    </p>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.body}}
    </p>
  </div>
</div>
{{/each}}
