{{!-- Style later --}}
<section class="posts">
    <h3>Current Posts:</h3>
    <p>hello {{name}}</p>

{{#each posts}}
    <section>
        {{!-- <div>
            <a style="font-size: 20px;" href="/post/{{id}}/updatePost">{{title}}</a>
        </div> --}}
            
        <div>
            <p>{{body}}</p>
            <div class="col-md-4">
                <a href="/post/{{id}}/updatePost"><button class="btn btn-sm btn">Edit</button></a>
            </div>
            <div class="col-md-4" >
                <button class="btn btn-sm btn-danger deleteButton" data-id="{{id}}">DELETE</button>
            </div>
        </div>
    {{!-- {{else}}
    <p class="empty">No content</p> --}}
    </section>
{{/each}}
</section>
{{!-- {{#if posts.length}} --}}
{{!-- {{#each posts as |post|}}
<div class="col-md-6 post-list">




    <div class="row mb-2">
        <div class="col-md-8">
            <h4><a href="/project/{{post.id}}">{{post.name}}</a></h4>
        </div>

    </div>

</div>
{{/each}} --}}
{{!-- {{/if}} --}}
<script src="./js/profile.js"></script>