{{!-- Style later --}}

<p>hello {{name}}</p>
{{#each posts}}
<a style="font-size: 20px;" href="/api/post/{{id}}">{{title}}</a>
<p>{{body}}</p>
{{else}}
<p class="empty">No content</p>
{{/each}}

{{#if posts.length}}
<div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h4><a href="/project/{{post.id}}">{{post.name}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<script src="./js/profile.js"></script>